In [1]:
import mysql.connector

In [7]:
db_con = mysql.connector.connect(
    host = "database-1.cmdlhagy2um9.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "admin", 
    password = "dltnals123$",
    database = "armdb"
)

cur = db_con.cursor()
cur.execute("show tables")
result = cur.fetchall()

for result_itreator in result:
    if "bipoom_table" in result_itreator[0]:
        break
    else:
        cur.execute("CREATE TABLE bipoom_table (code int, name varchar(16), number int)")
        cur.execute("CREATE TABLE scedule_table (code int, order varchar(16), start_time datetime, end_time datetime)")


db_con.close()

ProgrammingError: 1050 (42S01): Table 'bipoom_table' already exists

In [ ]:
from datetime import datetime 

start_date = datetime.strptime(self.dateEdit.text(), "%Y%m%d").d